<div>
    <h2>Welcome {{name}}</h2> 
</div>
<div>
    <h3>Create a new project</h3>
    <form id="newProject"> 
        <label for="projectName">Project Name:</label>
        <input type="text" id="projectName">
        <label for="description">Description:</label>
        <input type="text" id="description">
        <label for="neededFunding">Needed Funding:</label>
        <input type="number" id="neededFunding">
       <button>Create</button>
    </form>
</div>
<div>
    <h3>Current Projects:</h3>
    {{if projects.length}}
    {{#each projects as |project|}}
    <div>
        <h3>{{project.name}}</h3>
        <p>{{project.description}}</p>
    </div>
    {{/each}}
    {{else}}
    <h4>Create a project above</h4>
    {{/if}}
</div>

<script src="profile.js"></script>